body {
    background-color: royalblue;
}

.bigheader {
    font-size: 50px;
    font-style: Bold;
}

.bold {
    font-style: bold;
    font-size: 20px;
}

.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.italic {
    font-style: italic;
}